* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  width: 2px;
  /* height: 8px; */
  background-color: transparent;
}

*::-webkit-scrollbar-thumb {
  /* background-color: #8585ad; */
  background-color: rgba(0, 0, 0, .12);
}
